.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    //this display flex allow to sit our image and footer in vertical alignment
    //each collection item width is 22% of screen. display in column(flex
  
    //styling image so that its heigh is 95 %, footer will be only 5
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }

    //collection-footer is just display flex and there is space between it. so its pushed appart
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }
  