body {
  font-family: 'Open Sans Condensed';
  padding: 20px 80px;
}


a{
  text-decoration: none;
  color: black;
}

/* for every element we want box-sizing : border box 
so padding border and margin dont affect element size*/
*{
  box-sizing: border-box;
}